[submodule "ref"]
	path = ref
	url = https://github.com/ibigbug/clash-rs.git
	branch = master
[submodule "ref-mihomo"]
	path = ref-mihomo
	url = https://github.com/MetaCubeX/mihomo.git
	branch = Alpha
[submodule "ref-meow"]
	path = ref-meow
	url = https://github.com/meow-rs/meow-rs.git
	branch = main
